﻿@model BrainBuilder.Controllers.GamesController.InputModel
@{
    ViewData["Title"] = "Math Game";
    bool isActive = (bool)ViewData["isActive"];
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/MathGameStyles.css" />
</head>
<header class="py-5"></header>
<section>
    <div class="container">
        @if (isActive)
        {
            <h1>@ViewData["Title"]</h1>
            <div class="col align-items-center ">
                <div id="gameContainer">
                    <section class="mathGame">
                        <div>
                            <p id="gameNotifications">Try to answer as many as you can in one minute!</p>
                            <input type="text" class="gamePiece" id="gameNumberOne" readonly />
                            <input type="text" class="gamePiece" id="gameOperator" readonly />
                            <input type="text" class="gamePiece" id="gameNumberTwo" readonly />

                            <input type="text" class="gamePiece" id="userAnswer">
                            <br />
                            <br />
                        </div>
                        <div>
                            <form id="frmSubmit" asp-action="Submit_Math">
                                <br />
                                <label>Rounds Won:</label><br />
                                <input type="text" asp-for="MathInput" id="gameRounds" readonly /><br />
                            </form>
                                <label>Time Left:</label><br />
                                <input type="text" id="gameTime" disabled />
                                <br />
                        </div>
                        <div>
                            <button id="gameStartBtn" class="gameBtn" onclick="StartGame()">New Game</button>
                            <input id="gameSubmitBtn" class="btn btn-style-1 btn-primary" type="submit" value="Submit" form="frmSubmit" style="visibility: hidden;" />
                        </div>
                    </section>
                </div>
            </div>
        }
        else
        {
            <div id="card-noSubscription" class="d-md-flex justify-content-between cart-item">
                <h3 id="txtNoSubscription">This game is only for Membership Plus members only. </h3>
            </div>
            <hr class="my-2">
            <div class="row ">
                <div class=""><a class="btn btn-style-1 btn-secondary btn-block" asp-action="Index" id="btnGames" asp-controller="Games">Return to Games</a></div>
            </div>
        }

    </div>
</section>
<script type="text/javascript" src="~/js/mathGame.js"></script>
